body{
	background: url("img.jpg");
	margin:0;
	padding:0;
	display:flex;
	justify-content: center;
	align-items: center;
}
*{
	margin: 0;
	padding:0;
	box-sizing:border-box;
}

.form h1{
	margin-top: 15px;
	font-size:2.5rem;
	color:#fff;
}
.form{
	display:flex;
	flex-direction: column;
	align-items: center;
	gap:10px;
	
	width:350px;
	height: 350px;
	background: transparent;
	border:2px solid rgba(255,255,255,0.3);
	border-radius:10px;
	backdrop-filter: blur(20px);
}
.form1{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right:12.5px;
}
.secondline p{
	display: inline;
}
.secondline{
	display: flex;
	width: 300px;
	align-items: center;
	margin-left:10px;
	margin-right: 10px;
	justify-content:space-between;
	gap:5px;

}
.second_first{
	display: flex;
	align-items:center;
	gap:3px;
}
.secondline a{
	text-decoration: none;
	color: #fff;
}
.form  button{
	width: 300px;
	height: 45px;
	margin-left:10px;
	margin-right: 10px;
	background: #fff;
	border: none;
	border-radius: 25px;
	font-size: 1rem;
	color:black;
}
.form p{
	color: #fff;
}
.link1{
	font-weight: bold;
	text-decoration: none;
	color:#fff;
}
.inputbox{
	position:relative;
	width:300px;

}
.inputbox i{
	position: absolute;
	right:10px;
	top:50%;
	transform: translateY(-50%);
}

.input{
	width: 100%;
	height: 45px;
	border-radius: 25px;
	margin:10px;
	padding: 10px;
	border: none;
}